.auth {
    float: none;
    margin: auto auto;
    width: 500px;
    height: 300px;
}

.auth .btn img {
    position: relative;
    top: 10px;
    height: 32px;
}

h1, h2, h3, h4, h5, h6, p {
    color: #ffffff;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}
.first-step .collection {
    height: 500px;
    overflow-y: auto;
}
.loading { border:1px solid #ddd; padding:20px; margin:40px 5px; width:80px;}